{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.nome }}!</h1>

    <div class="container bg-info rounded border-top border-primary">
        <br><h4>Central de comandos do LPA</h4>
            <div class="row ">
                <div class="col border-end border-primary">
                    <br>
                    <b><p>Status - Ar-condicionado</p></b>
                    <div id="status_ar" ></div>
                    <br>
                    <br>
                    <b><p>Controle Ar-condicionado</p></b>
                    <div >
                        <button id="onButton" type="button" class="btn btn-danger" >On</button>
                        <button id="offButton" type="button" class="btn btn-success" >Off</button>
                        <br>
                        <a href="/dash_lab/mudar_temp/1"><button id="aumentaButton" type="button" class="btn btn-primary" >+ Temp</button></a>
                        <a href="/dash_lab/mudar_temp/0"><button id="diminuiButton" type="button" class="btn btn-primary" >- Temp</button></a>
                    </div>
                </div>

                <div class="col border-end border-primary">
                <b>   <label>Controle da iluminação</label></b>
                    <div id="status_luz"></div>
                </div>

                <div class="col">
                <b>   <label>Lista de presentes</label></b>
                    <div id="status_usuarios"></div>
                </div>
    
            <br>
            </div>
        <br>
    </div>
    <br><br>

{% endblock %}