{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.nome }}!</h1>
    <br>
    <p->Async mode is: <b>{{ async_mode }}</b></p>

    

    <!-- DADOS DO LABORATORIO -->
    <div class="container bg-info rounded">
        <br><h4>Dados do laboratório:</h4><br>
        <div class="container border-top border-primary">
            <div class="row ">

            <div class="col-sm border-end border-primary">
            <b> <label>Temperatura</label></b>
                <div id="temperatura"></div>
            </div>

            <div class="col-sm border-end border-primary">
            <b>   <label>Umidade</label></b>
                <div id="umidade"></div>
            </div>

            <div class="col-sm border-end border-primary">
            <b>   <label>Movimento</label></b>
                <div id="movimento"></div>
            </div>

            <div class="col-sm">
                <b><label>Luminosidade</label></b>
                <div id="luminosidade"></div>
            </div>
            <br>
            </div>
            <br>
        </div>
    </div>
    <br><br>
    <!-- SOLICITAÇÕES DE ACESSO -->
    <div class="container bg-info rounded">
        <br><h4>Solicitações de acesso:</h4><br>
        <div class="container ">

            <div class="d-flex justify-content-center align-items-center ">
                <button type="button" class="btn btn-dark btn square-button" data-bs-toggle="collapse" data-bs-target="#notifContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-your-icon">Solicitações pendentes : {{ notifs. __len__() }}</i>  </button>
            </div>


            <div class="row ">                
                <div class="collapse navbar-collapse" id="notifContent">
                    <br>
                    {% for notif in notifs %}
                        <div class="container col-sm bg-secondary rounded "> <br>
                            ID: {{notif.id}} <br>
                            Nome: {{notif.nome}} <br>
                            Matricula: {{notif.matricula}}                  
                            <br><br>

                            <div class="d-grid gap-2 d-md-block">
                                <a href="/aprovar_status/{{notif.matricula}}">
                                    <button class="btn btn-primary justify-content-end rounded" type="button">
                                        Aprovar
                                    </button>
                                </a>
                                <a href="/reprovar_status/{{notif.matricula}}">
                                    <button class="btn btn-danger justify-content-end rounded" type="button">
                                        Reprovar
                                    </button>
                                </a>
                                <!-- <a href="/contatos/{{notif.matricula}}">
                                    <button class="btn btn-info justify-content-end rounded" type="button">
                                        Contatos
                                    </button>
                                </a> -->
                            </div>

                            <br>
                        </div>
                        <br>
                    {% endfor %}    
                </div>

                <br>

            </div>
        </div>
    </div>
    <br><br>
    <!-- NOTIFICAÇÕES -->
    <div class="container bg-info rounded">
        <br><h4>Notificações:</h4><br>
        <div class="container border-top border-primary">
            <div class="row ">

            <div class="col-sm border-end border-primary">
                <label>Usuários logados no sistema</label>
                {% for user in users %}
                        <div class="container col-sm "> <br>
                            ID: {{user.user_id}} <br>

                        </div>
                {% endfor %}
            </div>

            
            </div>
        </div>
    </div>
    <br><br>
    <!-- CENTRAL DE CONTROLE -->
    <div class="container bg-info rounded">
        <br><h4>Central de controle:</h4><br>
        <div class="container border-top border-primary">
            <br>
            <div class="row ">

            <div class="col-sm ">
                <div class="d-flex justify-content-center align-items-center">
                    <a href="/dash_lab"><button type="button" class="btn btn-dark btn-lg square-button">
                        <i class="fas fa-your-icon">Laboratório</i>  </button></a>
                    </div>
            </div>

            <div class="col-sm ">
                <div class="d-flex justify-content-center align-items-center ">
                    <a href="/usuarios"><button type="button" class="btn btn-dark btn-lg square-button">
                      <i class="fas fa-your-icon">Usuários</i>  </button></a>
                  </div>
            </div>

            </div>
        </div>
        <br>
    </div>

{% endblock %}