{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
    <h3>Editar dados do usuário: {{ user.nome }}</h3><br>
    <form action="/usuarios/atualizar/{{ user.id }}" method="POST">
        <label>Nome completo</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control rounded" name="ed_nome" id="editar_nome" value="{{ user.nome }}" require >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        
        <label>Matricula</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control rounded" name="ed_matricula" id="editar_matricula" value="{{ user.matricula }}" minlength="14" maxlength="14" require >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>

        <label>Email</label>
        <div class="input-group mb-3">
            <input type="email" class="form-control rounded" name="ed_email" id="editar_email" value="{{ user.email }}" require >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        
        <div class="mb-3">
            <br>
            {% if user.curso == "EE" %}
            <p>Curso atual: <b>Engenharia Elétrica</p></b>
            {% elif user.curso == "EC" %}
                <p>Curso atual: <b>Engenharia Civil</p></b>
            {% elif user.curso == "EA" %}
                <p>Curso atual: <b>Engenharia Agronôma</p></b>
            {% elif user.curso == "SI" %}
                <p>Curso atual: <b>Sistemas para Internet</p></b>
            {% elif user.curso == "FI" %}
                <p>Curso atual: <b>Física</p></b>
            {% elif user.curso == "MA" %}
                <p>Curso atual: <b>Matemática</p></b>
            {% elif user.curso == "LE" %}
                <p>Curso atual: <b>Letras</p></b>
            {% elif user.curso == "GP" %}
                <p>Curso atual: <b>Gestão Pública</p></b>
            {% elif user.curso == "cu" %}
                <p>Curso atual: <b>Caraio de curso</p></b>
            {% endif %}

            <br>
            <label for="ed_curso">Curso:</label>
            <select id="editar_curso" name="ed_curso" >
            <option value="--" selected>--</option>
            <option value="EE">Engenharia Elétrica</option>
            <option value="EC">Engenharia Civil</option>
            <option value="EA">Engenharia Agronômica</option>
            <option value="SI">Sistemas para Internet</option>
            <option value="FI">Física</option>
            <option value="MA">Matemática</option>
            <option value="LE">Letras</option>
            <option value="GP">Gestão Pública</option>
            </select>
        </div>
        <br>
        <br>
        
        <button class="bg-info btn-sm rounded">Salvar</button>
    </form>

    <button onclick="window.location.href='/usuarios'" class="bg-info btn-sm rounded">Voltar</button>
    <button onclick="window.location.href='/usuarios/editar_senha/{{ user.id }}'" class="bg-danger btn-sm rounded">Mudar Senha</button>

        {% endblock %}