{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ current_user.nome }}!</h1>

    <div class="container bg-info rounded">
        <br><h4>Lista de usuários</h4><br>
        <div class="container " style="color:bisque">
                <br>

                <table class="table table-info border-dark">
                    <thead>
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Matricula</th>
                            <th scope="col">Curso</th>
                            <th scope="col">Status</th>
                            <th scope="col">Tipo</th>
                            <th scope="col"></th>
                            <th scope="col">Editar</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    {% for user in users %}
                    <tbody>
                        <tr>
                            <th scope="row">{{user.id}}</th>
                            <td>{{user.nome}}</td>
                            <td>{{user.matricula}}</td>
                            <td>{{user.curso}}</td>
                            <td>{% if user.status == 1 %}
                                    Ativo
                                {% endif %}
                                {% if user.status == -1 %}
                                    Inativo
                                {% endif %}
                                {% if user.status == 0 %}
                                    aguardando  
                                {% endif %}
                            </td>
                            <td>{% if user.tipo == 1 %}
                                    Administrador
                                {% endif %}
                                {% if user.tipo == 0 %}
                                    Comum
                                {% endif %}</td>
                                <!-- BOTAO PARA EDITAR NOME - MATRICULA - CURSO -->
                                <td><a href="/usuarios/editar/{{user.id}}"><button type="button" class="btn btn-sm btn-warning">Editar</button></a></td>
                        
                                {% if user.status == 1 %} <!-- USUÁRIOS ATIVOS PODEM SER DESATIVADOS -->
                                    <td><a href="/usuarios/mudar_status/{{user.id}}"><button type="button" class="btn btn-sm btn-info">Inativar</button></a></td>
                                {% endif %}
                                {% if user.status == 0 %} <!-- USUARIOS EM AGUARDO PODEM SER APROVADOS OU NÃO -->                               
                                    <td>
                                        
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a href="/aprovar_status/{{user.matricula}}"><button type="button" class="btn btn-sm btn-success">
                                                OK
                                            </button></a>
                                            <a href="/reprovar_status/{{user.matricula}}"><button type="button" class="btn btn-sm btn-danger">
                                                X
                                            </button></a>
                                        </div>
                                        
                                    </td>
                                {% endif %}        
                                {% if user.status == -1 %} <!-- USUARIOS INATIVOS PODEM SER REATIVADOS -->                               
                                    <td><a href="/usuarios/mudar_status/{{user.id}}"><button type="button" class="btn btn-sm btn-info">Reativar</button></a></td>
                                {% endif %}        

                                {% if user.tipo == 1 %} <!-- USUARIOS ADMIN PODEM SE TORNAR DEFAULT  -->
                                    <td><a href="/usuarios/mudar_tipo/{{user.id}}"><button type="button" class="btn btn-sm btn-info">Tornar Default</button></a></td>
                                {% endif %}
                                {% if user.tipo == 0 %}     <!-- USUARIOS DEFAULT PODEM SE TORNAR ADMIN  -->                           
                                    <td><a href="/usuarios/mudar_tipo/{{user.id}}"><button type="button" class="btn btn-sm btn-info">Tornar Admin</button></a></td>
                                {% endif %}
                        </tr>
                        
                    </tbody>
                    {% endfor %}    
                </table>

                   
            <br>
        </div>
    </div>
    <br><br>





{% endblock %}