{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
    <h1 class="title">Atualizar senha de: {{ user.nome }}</h1><br>
    <form action="/usuarios/atualizar_senha/{{ user.id }}" method="POST">
        
        <label>Senha</label>
        <div class="input-group mb-3">
            <input type="password" class="form-control rounded" name="ed_senha" id="editar_senha" placeholder="Digite a nova senha" require >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        
        <label>Confirme a senha</label>
        <div class="input-group mb-3">
            <input type="password" class="form-control rounded" name="ed_senha2" id="editar_senha2" placeholder="Confirme a nova senha" require >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        
        <br>
        <br>
        
        <button class="button is-primary is-dark" type="submit">
            <span class="icon is-small">
                <i class="far fa-save"></i>
            </span> &nbsp;
            Salvar
        </button>
    </form>

    <br>
    <p class="buttons" style="display: flex; justify-content: flex-end; ">
        <a href="/usuarios">
            <button class="button is-info ">
                <span class="icon is-small">
                    <i class="far fa-arrow-alt-circle-left"></i>
                </span>&nbsp;
                Voltar
            </button>
        </a>
    </p>
{% endblock %}