{% extends "base.html" %}

{% block content %}
<h1 class="title">Painel de controle&nbsp;&nbsp;<i class="fas fa-arrow-right"></i> &nbsp;Usuários</h1>

<div class="columns  is-multiline">
    {% for user in users %}
            <div class="column is-one-quarter">
                <article class="message is-info">
                    <div class="message-header">
                        <h4 class="title is-4 has-text-info-dark">{{user.id}} - {{user.nome}} </h4>
                    </div>
                    <div class="message-body has-text-info">
                        Matricula: {{user.matricula}} <br>
                        Curso: {{user.curso}} <br>
                        Email: {{user.email}} <br>
                        Status: 
                            {% if user.status == 1 %}
                                Ativo
                            {% elif user.status == -1 %}
                                Inativo
                            {% elif user.status == 0 %}
                                Aguardando análise
                            {% endif %} <br>
                        Tipo: 
                            {% if user.tipo == 1 %}
                                Administrador
                            {% elif user.tipo == 0 %}
                                Comum
                            {% endif %} <br> <br>
                       
                        <p class="buttons">
                            <a href="/usuarios/editar/{{user.id}}">
                                <button class="button is-warning is-outlined">
                                    <span class="icon is-small">
                                        <i class="far fa-edit"></i> 
                                    </span>&nbsp;&nbsp;
                                    Editar
                                </button>
                            </a>
                        </p>
                    </div>
                </article>
            </div>
        {% endfor %} 
    </div>

<!--
    <div class="columns">
        <div class="column">
            <article class="message is-info">
                <div class="message-header">
                    <h4 class="title is-4 has-text-link-dark">Usuários do laboratório</h4>
                </div>
                <div class="message-body">
                    <table class="table is-bordered is-fullwidth">
                        <thead>
                            <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Status</th>
                                <th scope="col">Tipo</th>
                            </tr>
                        </thead>
                        {% for user in users %}
                            <tbody>
                                <tr>
                                    <td>{{user.nome}}</td>
                                    <td>{% if user.status == 1 %}
                                            Ativo
                                        {% elif user.status == -1 %}
                                            Inativo
                                        {% elif user.status == 0 %}
                                            Aguardando análise
                                        {% endif %}
                                    </td>
                                    <td>{% if user.tipo == 1 %}
                                            Administrador
                                        {% elif user.tipo == 0 %}
                                            Comum
                                        {% endif %}
                                    </td>
                                </tr>
                            </tbody>
                        {% endfor %}    
                    </table>
                </div>
            </article>
        </div>
    </div>
-->
{% endblock %}