{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
    <h1 class="title">Editar dados de: {{ user.nome }}</h1><br>

    <form action="/usuarios/atualizar/{{ user.id }}" method="POST">
        <label>Nome completo</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control rounded" name="ed_nome" id="editar_nome" value="{{ user.nome }}" require >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        
        <label>Matricula</label>
        <div class="input-group mb-3">
            <input type="text" class="form-control rounded" name="ed_matricula" id="editar_matricula" value="{{ user.matricula }}" minlength="14" maxlength="14" require >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>

        <label>Email</label>
        <div class="input-group mb-3">
            <input type="email" class="form-control rounded" name="ed_email" id="editar_email" value="{{ user.email }}" require >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
        
        <div class="mb-3">
            <br>
            {% if user.curso == "EE" %}
            <p>Curso atual: <b>Engenharia Elétrica</p></b>
            {% elif user.curso == "EC" %}
                <p>Curso atual: <b>Engenharia Civil</p></b>
            {% elif user.curso == "EA" %}
                <p>Curso atual: <b>Engenharia Agronôma</p></b>
            {% elif user.curso == "SI" %}
                <p>Curso atual: <b>Sistemas para Internet</p></b>
            {% elif user.curso == "FI" %}
                <p>Curso atual: <b>Física</p></b>
            {% elif user.curso == "MA" %}
                <p>Curso atual: <b>Matemática</p></b>
            {% elif user.curso == "LE" %}
                <p>Curso atual: <b>Letras</p></b>
            {% elif user.curso == "GP" %}
                <p>Curso atual: <b>Gestão Pública</p></b>
            {% elif user.curso == "cu" %}
                <p>Curso atual: <b>Caraio de curso</p></b>
            {% endif %}

            <br>
            <label for="ed_curso">Curso:</label>
            <select id="editar_curso" name="ed_curso" >
            <option value="--" selected>--</option>
            <option value="EE">Engenharia Elétrica</option>
            <option value="EC">Engenharia Civil</option>
            <option value="EA">Engenharia Agronômica</option>
            <option value="SI">Sistemas para Internet</option>
            <option value="FI">Física</option>
            <option value="MA">Matemática</option>
            <option value="LE">Letras</option>
            <option value="GP">Gestão Pública</option>
            </select>
        </div>
        <br>
        <br>
        
        <button class="button is-primary is-dark" type="submit">
            <span class="icon is-small">
                <i class="far fa-save"></i>
            </span> &nbsp;
            Salvar
        </button>
    </form>
    <br>
    <p class="buttons">
        <a href="/usuarios">
            <button class="button is-info ">
                <span class="icon is-small">
                    <i class="far fa-arrow-alt-circle-left"></i>
                </span>&nbsp;
                Voltar
            </button>
        </a>
        <a href="/usuarios/editar_senha/{{ user.id }}">
            <button class="button is-primary ">
                <span class="icon is-small">
                    <i class="fas fa-key"></i>
                </span>&nbsp;
                Mudar Senha
            </button>
        </a>
    </p>
{% endblock %}


href="/usuarios/mudar_status/{{user.id}}"