<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Holhooja - Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma-rtl.min.css">
    <style>
        body {
        
        height: 100vh;
        width: 100%;
        }
    </style>
</head>

<body class="has-background-link-dark" style="--bs-bg-opacity: 1;">
    <div style="text-align: center; " class="tile">
        <div class="tile is-parent">
            <article class="tile is-child notification is-link">
              <p class="title">Login realizado com sucesso</p><br>
              <p class="subtitle">Seja bem vindo ao LPA !</p>
            </article>
          </div>
    </div>

    <div class="tile is-ancestor">
        <div class="tile is-vertical">
          <div class="tile">
            <div class="tile is-parent is-vertical">
              <article class="tile is-child notification is-link">
                <p class="title">Status do laboratório</p><br   >
                <p class="subtitle">- Porta</p>
                <p class="subtitle">- Ar Condicionado</p>
                <p class="subtitle">- Alunos logados</p>
                <p class="subtitle">- Iluminação</p>
                <p class="subtitle">- Etc</p>
              </article>
              <article class="tile is-child notification is-primary">
                <p class="title">Acessar BD</p><br>
                <p class="subtitle">- Link para página de modificações</p>
              </article>
            </div>
            <div class="tile is-parent">
              <article class="tile is-child notification is-link">
                <p class="title">Lista de usuários logados</p>
                <p class="subtitle">- Lista de usuários atualizada em tempo real</p>
                <figure class="image is-4by3">
                    <img src="https://bulma.io/images/placeholders/640x480.png">
                </figure>
                <br>
                <p class="subtitle">- Vídeo em tempo real para checagem de permanência</p>
              </article>
            </div>


            <div class="tile is-parent">
                <article class="tile is-child notification is-link">
                  <div class="content">
                    <p class="title">Notificações</p><br>
                    <p class="subtitle">- Solicitações de acesso</p>
                    <p class="subtitle">- Abertura do laboratório </p>
                    <p class="subtitle">- Fechamento do laboratório</p>
                    <div class="content">
                      <!-- Content -->
                    </div>
                  </div>
                </article>
            </div>

          </div>
          <div class="tile is-parent">
            <button class="button is-danger" style="margin: 0 auto;"><a style="color:rgb(255, 255, 255);" href="{{url_for('logout')}}">Logout</a></button>
          </div>
        </div>
       
      </div>

</body>
</html>