{% extends "base.html" %}

{% block content %}
    <h1 class="title">Painel de controle&nbsp;&nbsp;<i class="fas fa-arrow-right"></i> &nbsp;Laboratório</h1>

        <!-- CONTROLE DO AR CONDICIONADO -->
        <div class="columns ">
        <div class="column is-one-third has-text-centered">
            <article class="message is-info">
                <div class="message-header">
                    <h4 class="title is-4 has-text-info-dark"> Ar-condicionado </h4>
                </div>
                <div class="message-body has-text-info">
                    <b><p>Status</p></b>
                    <div id="status_ar" ></div>
                    <br>

                    <!-- BOTÃO ON/OFF DO AR CONDICIONADO -->
                    <p class="buttons is-centered">
                        <a href="/mqtt/off">
                            <button id="onButton" class="button is-success">
                                <span class="icon is-small">
                                    <i class="fas fa-power-off"></i>
                                </span>
                            </button>
                        </a>
                    </p>
                    <br>
                    <!--CONTROLE DE TEMPERATURA DO AR CONDICIONADO-->
                    <p class="buttons is-centered">
                        <a href="/mqtt/up">
                            <button class="button is-info">
                                &nbsp;<span class="icon is-small">
                                    <i class="fas fa-chevron-up"></i>
                                </span>&nbsp;
                            </button>
                        </a>
                    </p>


                    <p class="buttons is-centered">
                        <a href="/mqtt/on">
                            <button class="button is-info">
                                &nbsp;<span class="icon is-small">
                                    <i class="far fa-snowflake"></i> 
                                </span>&nbsp;
                            </button>
                        </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/mqtt/off">
                            <button class="button is-info ">
                                &nbsp;<span class="icon is-small">
                                    <i class="far fa-snowflake"></i> 
                                </span>&nbsp;
                            </button>
                        </a>
                    </p>


                    <p class="buttons is-centered">
                        <a href="/mqtt/down">
                            <button class="button is-info">
                                &nbsp;<span class="icon is-small">
                                    <i class="fas fa-chevron-down"></i> 
                                </span>&nbsp;
                            </button>
                        </a>
                    </p>
                    <!--#################################################-->

                </div>
            </article>
        </div>

        <!-- CONTROLE DA ILUMINAÇÃO -->
        <div class="column is-one-third has-text-centered">
            <article class="message is-info">
                <div class="message-header">
                    <h4 class="title is-4 has-text-info-dark"> Iluminação</h4>
                </div>
                <div class="message-body has-text-info">
                    <b><p>Status</p></b>
                    <div id="status_luz" >Status_da_iluminação.mp3</div>

                </div>
            </article>
        </div>

        <!-- LISTA DE PRESENTES -->
        <div class="column is-one-third">
            <article class="message is-info">
                <div class="message-header">
                    <h4 class="title is-4 has-text-info-dark"> Lista de presentes </h4>
                </div>
                <div class="message-body has-text-info">
                    <b><p>Lista aqui</p></b>
                    <div id="lista_users" ></div>
                    
                </div>
            </article>
        </div>
    </div>
{% endblock %}