{% extends "base.html" %}
{% import 'bootstrap_wtf.html' as wtf %}

{% block content %}
       

    <h3>Editar dados de usuário</h3><br>
    
    <label>Nome completo</label>
    <div class="input-group mb-3">
        <input type="text" class="form-control rounded" id="nome" placeholder="{{ user.nome }}" disabled>
        <button class="btn-sm bg-light rounded" id="enableButton">Alterar</button>
    </div>
    <div class="mb-3">
        <label>Email</label>
        <input type="email" class="form-control" id="email" placeholder="{{ user.email }}" disabled>
    </div>
    <div class="mb-3">
        <label>Curso</label>
        <input type="text" class="form-control" id="curso" placeholder="{{ user.curso }}" disabled>
    </div>
    <div class="mb-3">
        <label>Status</label>
        {% if user.status == 1 %}
            <input type="text" class="form-control" id="status" placeholder="Ativo" disabled>
        {% elif user.status == -1 %}
            <input type="text" class="form-control" id="status" placeholder="Inativo" disabled>
        {% elif user.status == 0 %}
            <input type="text" class="form-control" id="status" placeholder="Aguardando aprovação" disabled>
        {% endif %}
    </div>

    <div class="mb-3">
        <label>Usuário</label>
        {% if user.tipo == 1 %}
            <input type="text" class="form-control" id="tipo" placeholder="Administrador" disabled>
        {% elif user.tipo == 0 %}
            <input type="text" class="form-control" id="tipo" placeholder="Comum" disabled>
        {% endif %}
    </div>
{% endblock %}